
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9e66ccf-90b4-4967-af80-9c1973b2a5a9/dbwbmgc-e62fe5d1-f3c6-4be3-baea-031cecfd0e4e.png/v1/fill/w_1192,h_670,q_70,strp/_f2u___digimon_adventure_tri_evolution_background_by_papilrux_dbwbmgc-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvYTllNjZjY2YtOTBiNC00OTY3LWFmODAtOWMxOTczYjJhNWE5XC9kYndibWdjLWU2MmZlNWQxLWYzYzYtNGJlMy1iYWVhLTAzMWNlY2ZkMGU0ZS5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.R57pjcgqmJYXkSrmpkOCI4hATtukaBuL1NqA4LwjyQ4)  !important;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    border-bottom: #FFBF0F solid;
    background-color: #000 !important; 
}

.nav_bar{
    margin-right: 20px;
}

.imglogo {
    width: 150px;
    cursor: pointer;
}
.tarjeta {
    position: relative;
    width: 210px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000;
    opacity: 5;
    margin: 20px;
    -webkit-box-shadow: 10px 7px 15px 0 #FFBF0F;
    box-shadow: 10px 7px 15px 0 #FFBF0F;
}

.tarjeta::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: 3;
    opacity: 0;
    transition: opacity 0, 4s linear;
}

.tarjeta__img {
    height: 100%;
    transition: transform 0.4s linear;
}

.tarjeta__cont {
    position: absolute;
    padding: 8px;
    color: white;
    bottom: 0;
    transform: translateY(16%);
    transition: transform 0.3% linear;
    z-index: 3;
    color: black;
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
}

.tarjeta__nombre {
    font-size: 20px;
}

.tarjeta__cont a {
    display: none;
}

.tarjeta:hover .tarjeta__cont {
    transform: translate(0%);
    background: none;
    opacity: 1;
    padding-bottom: 15px;
}

.tarjeta:hover h1 {
    font-size: 20px;
    display: none;
}

.tarjeta:hover p {
    font-size: 15px;
}

.tarjeta:hover a {
   text-decoration: none;
   display: block;
   color: #FFBF0F;
}

.tarjeta:hover .tarjeta__img {
    transform: scale(1.2, 1.2);
}

.tarjeta:hover::before {
    opacity: 1;
}

.tarjetaUnica{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 7px 15px 0 #000;
}

.tarjetaUnica_nombre{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: #FFBF0F solid 2px;
}

.tarjetaUnica_level{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}